Options +FollowSymlinks
RewriteEngine on
RewriteBase /

#ErrorDocument 404     /user_guide/changelog.html
#directory
RewriteCond %{REQUEST_FILENAME} !-d

#file
RewriteCond %{REQUEST_FILENAME} !-f

#link
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]